{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

  {% block body %}
  
<head>
  
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>DOMOTICA</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

  
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/assets/css/aaudio.css" rel="stylesheet">

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo"><a href="/index">DOMOTICA</a></h1>
     

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/index">Home</a></li>
          <li class="dropdown"><a href="#"><span>Products & Services</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              
              <li class="dropdown"><a href="#"><span>Automation Designs</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="/kentrance">Entrance Automation</a></li>
                  <li><a href="/kenergy">Energy Management</a></li>
                  <li><a href="/kkeypad">Keypad automation</a></li>
                  <li><a href="/curtainmotors">Curtain Motors</a></li>
            
                </ul>
              </li>
              <li><a href="/alighting">Lighting Automation </a></li>
              <li><a href="/aaccesscontrol">Access Control </a></li>
              <li><a href="/aaudiovisualcontrolandacoustics">Audio Visual Control and Acoustics </a></li>
              <li><a href="/asecurityandsurvillence">Security and Surveillance</a></li>
              <li><a href="/acentralvaccum">Central Vaccum </a></li>
              <li><a href="/aventilationsystems">Ventilation Systems </a></li>
            </ul>
          <li><a class="nav-link scrollto" href="/aboutus">About Us</a></li>
          <li><a class="nav-link scrollto " href="/contactus">Contact us</a></li>
          <li><a class="nav-link scrollto" href="/faq">FAQS</a></li>
          
          <li><a class="getstarted scrollto" href="/login">Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
<br>
<br>

<section class="access1">

  <div class="access2">


<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.linkpicture.com/q/chauhan-moniz-3A0bs74T8zc-unsplash.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://www.linkpicture.com/q/alexander-stanishev-HkeYeGmLAbM-unsplash.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://www.linkpicture.com/q/jens-kreuter-ngMtsE5r9eI-unsplash.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>

</section> 


  <div class="access3 bg">
    <div class="access4">

    <h1> <br> Visual Control and Acoustics</h1>
    
    <p> <br> Whether you are having a movie night in your theatre room with your family or are out for dinner at your favourite lounge, the balance of sound and elimination of noise is instrumental in elevating your entertainment experience.  </p>

    <p>Smart Homes specialise in equipping your space with audio and acoustics system to give you the most scintillating entertainment experience. Our automation architects advise the clients on the choice, alignment and placement of speakers for optimum audio.</p>
     <p>Acoustic panels, tiles, ceiling material and sound dampening surface design are also a major part of our Acoustics portfolio.</p>  
      <p>► Audio equipment: microphones, speakers, amplifiers, headphones, sound cards, etc.</p>
      <p>► Visual equipment: projectors, displays, cameras, lighting, etc. </p>
      <p>► A/V production hardware: mixers, switchers, converters, etc. </p>
      <p>► A/V presentation hardware: teleconferencing systems, interactive whiteboards, etc. </p>
      <p>► A/V software: editing and post-production software, multimedia players, etc.</p>
    
      </div>
  </div>

   <!-- ======= Footer ======= -->
   <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Domotica</h3>
            <p>
              Adani Institute of Infrastructure Engineering Shantigram-Township <br>
              Gujarat,<br>
              India <br><br>
              <strong>Phone:</strong> +91 1234-5678-89<br>
              <strong>Email:</strong> Domotica@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/index">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/aboutus">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#hero">Product and Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/terms">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/privacy">Privacy policy</a></li>
            </ul>
          </div>

          
          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Join our newsletter to get Daily Updates</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">

      <div class="copyright-wrap d-md-flex py-4">
        <div class="me-md-auto text-center text-md-start">
          <div class="copyright">
            &copy; Copyright <strong><span>Domotica</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
          <a href="/aboutus">Made and developed by KAVS</a>
          </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
          <a href="https://twitter.com/home" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="https://www.facebook.com/profile.php?id=100074828982529" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="https://instagram.com/shreyshah0610?igshid=YzgyMTM2MGM=" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="https://www.linkedin.com/in/shrey-shah-06o10/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

    </div>
  </footer>

  
</body>
</html>
{% endblock body %}