{% extends 'base.html' %}
{% block title %}Product and Services | Ventilation Systems{% endblock title %}

  {% block body %}
  
<head>
  
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>DOMOTICA</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

  
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/assets/css/aventilation.css" rel="stylesheet">

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo"><a href="/index">DOMOTICA</a></h1>
     

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/index">Home</a></li>
          <li class="dropdown"><a href="#"><span>Products & Services</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              
              <li class="dropdown"><a href="#"><span>Automation Designs</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="/kentrance">Entrance Automation</a></li>
                  <li><a href="/kenergy">Energy Management</a></li>
                  <li><a href="/kkeypad">Keypad automation</a></li>
                  <li><a href="/curtainmotors">Curtain Motors</a></li>
            
                </ul>
              </li>
              <li><a href="/alighting">Lighting Automation </a></li>
              <li><a href="/aaccesscontrol">Access Control </a></li>
              <li><a href="/aaudiovisualcontrolandacoustics">Audio Visual Control and Acoustics </a></li>
              <li><a href="/asecurityandsurvillence">Security and Surveillance</a></li>
              <li><a href="/acentralvaccum">Central Vaccum </a></li>
              <li><a href="/aventilationsystems">Ventilation Systems </a></li>
            </ul>
          <li><a class="nav-link scrollto" href="/aboutus">About Us</a></li>
          <li><a class="nav-link scrollto " href="/contactus">Contact us</a></li>
          <li><a class="nav-link scrollto" href="/faq">FAQS</a></li>
          
          <li><a class="getstarted scrollto" href="/login">Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <section class="access1">

    <div class="access2">

<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.linkpicture.com/q/lucas-van-oort-Jg1xCCzAEag-unsplash-1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://www.linkpicture.com/q/michal-matlon-JUDPnpHHRqs-unsplash-2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://www.linkpicture.com/q/vadim-babenko-IUuVB1nLsQU-unsplash-2.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>

</section> 

<div class="access3 bg">

  <div class="access4">

  <h1> <br> Ventilation Systems</h1>
  
  <p> <br> We are surrounded by air. We at least breath in and out 20,000 litres of air every day. How healthy is the air? There is a range of aspects to determine air quality. Oxygen and carbon dioxide concentration in the air. Oxygen decrease and carbon dioxide cause stuffiness in the premises. Content of harmful substances and dust in the air. High content of dust, tobacco smoke and other substances in the air are harmful for the human organism and can cause various lung and skin diseases. Odours. Bad smell causes discomfort and irritates Air humidity.</p> 
<p> Ventilation systems are systems designed to regulate the flow of air in and out of a building, maintaining indoor air quality and controlling the temperature and humidity of the space. Some common types of ventilation systems include:</p>
<p>► Natural ventilation: the use of open windows, doors, and vents to provide fresh air and improve indoor air quality. </p>
<p>► Mechanical ventilation: the use of fans, ducts, and other equipment to regulate the flow of air into and out of a building.</p>
<p>► HVAC (Heating, Ventilation, and Air Conditioning) systems: a combination of heating, cooling, and ventilation systems used to regulate indoor air temperature, humidity, and air quality.</p>
<p>► Ventilation systems are important for maintaining indoor air quality and reducing the risk of airborne infections and other health hazards. They are also essential for improving comfort levels and energy efficiency in buildings.</p>
<p>►   Ventilation systems are used in a wide range of buildings, including homes, offices, schools, hospitals, and factories. They are also used in vehicles, such as cars and trains, and in other enclosed spaces, such as tents and greenhouses.</p>


</div>
</div>

   <!-- ======= Footer ======= -->
   <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Domotica</h3>
            <p>
              Adani Institute of Infrastructure Engineering Shantigram-Township <br>
              Gujarat,<br>
              India <br><br>
              <strong>Phone:</strong> +91 1234-5678-89<br>
              <strong>Email:</strong> Domotica@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/index">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/aboutus">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#hero">Product and Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/terms">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/privacy">Privacy policy</a></li>
            </ul>
          </div>

          
          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Join our newsletter to get Daily Updates</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">

      <div class="copyright-wrap d-md-flex py-4">
        <div class="me-md-auto text-center text-md-start">
          <div class="copyright">
            &copy; Copyright <strong><span>Domotica</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
          <a href="/aboutus">Made and developed by KAVS</a>
          </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
          <a href="https://twitter.com/home" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="https://www.facebook.com/profile.php?id=100074828982529" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="https://instagram.com/shreyshah0610?igshid=YzgyMTM2MGM=" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="https://www.linkedin.com/in/shrey-shah-06o10/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

    </div>
  </footer>

  
</body>
</html>
{% endblock body %}
