{% extends 'base.html' %}
{% block title %}Product and Services | Energy Managment{% endblock title %}

  {% block body %}
  
 
  <head>
    
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>DOMOTICA</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  
    
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/assets/css/kenergy.css" rel="stylesheet">
  <body>
  
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
      <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo"><a href="/index">DOMOTICA</a></h1>
       
  
        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="/index">Home</a></li>
            <li class="dropdown"><a href="#"><span>Products & Services</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                
                <li class="dropdown"><a href="#"><span>Automation Designs</span> <i class="bi bi-chevron-right"></i></a>
                  <ul>
                    <li><a href="/kentrance">Entrance Automation</a></li>
                    <li><a href="/kenergy">Energy Management</a></li>
                    <li><a href="/kkeypad">Keypad automation</a></li>
                    <li><a href="/curtainmotors">Curtain Motors</a></li>
              
                  </ul>
                </li>
                <li><a href="/alighting">Lighting Automation </a></li>
                <li><a href="/aaccesscontrol">Access Control </a></li>
                <li><a href="aaudiovisualcontrolandacoustics">Audio Visual Control and Acoustics </a></li>
              <li><a href="/asecurityandsurvillence">Security and Surveillance</a></li>
              <li><a href="/acentralvaccum">Central Vaccum </a></li>
              <li><a href="/aventilationsystems">Ventilation Systems </a></li>
              </ul>
            <li><a class="nav-link scrollto" href="/aboutus">About Us</a></li>
            <li><a class="nav-link scrollto " href="/contactus">Contact us</a></li>
            <li><a class="nav-link scrollto" href="/faq">FAQS</a></li>
            
            <li><a class="getstarted scrollto" href="/login">Login</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <section class="access1">

    <div class="access2">

      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://www.linkpicture.com/q/smart-home-2005993_1280.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.linkpicture.com/q/smart-home-3964427_1920.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.linkpicture.com/q/future-3682129.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

</div>

</section> 

<div class="access3 bg">

  <div class="access4">

  <h1> <br> Energy Management</h1>
  
   
  <p> <br>Energy management refers to the process of monitoring, controlling, and reducing energy consumption in a building, home, or other facility. Here are some key points and examples of energy management:</p> 
<p>► Monitoring: Energy management systems monitor energy usage and provide data and information to help individuals make informed decisions about energy consumption </p>
<p>►  Control: Energy management systems allow individuals to control and adjust energy usage, such as adjusting the temperature of a building or turning off lights when they are not needed.</p>
<p>► Cost savings: Effective energy management can result in significant cost savings on utility bills, as well as reducing the environmental impact of energy consumption.</p>
<p>► Examples: Smart home energy management systems: These systems monitor and control energy usage in homes, helping to reduce energy consumption and save on utility bills.</p>
<p>► Commercial building energy management systems: These systems monitor and control energy usage in commercial buildings, reducing energy consumption and improving energy efficiency.</p>
<p>►  Industrial energy management systems: These systems monitor and control energy usage in industrial facilities, reducing energy consumption and improving energy efficiency.</p>
<p>►  Energy management systems are a crucial tool for reducing energy consumption, improving energy efficiency, and saving on utility bills. They provide information and tools to help individuals make informed decisions about energy usage.</p>

</div>
</div>

   <!-- ======= Footer ======= -->
   <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Domotica</h3>
            <p>
              Adani Institute of Infrastructure Engineering Shantigram-Township <br>
              Gujarat,<br>
              India <br><br>
              <strong>Phone:</strong> +91 1234-5678-89<br>
              <strong>Email:</strong> Domotica@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/index">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/aboutus">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#hero">Product and Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/terms">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/privacy">Privacy policy</a></li>
            </ul>
          </div>

          
          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Join our newsletter to get Daily Updates</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">

      <div class="copyright-wrap d-md-flex py-4">
        <div class="me-md-auto text-center text-md-start">
          <div class="copyright">
            &copy; Copyright <strong><span>Domotica</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
          <a href="/aboutus">Made and developed by KAVS</a>
          </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
          <a href="https://twitter.com/home" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="https://www.facebook.com/profile.php?id=100074828982529" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="https://instagram.com/shreyshah0610?igshid=YzgyMTM2MGM=" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="https://www.linkedin.com/in/shrey-shah-06o10/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

    </div>
  </footer>

  
</body>
</html>
{% endblock body %}